<div class="pet-description">
  <img
    class="img-descpipt"
    [src]="currentPet?.image"
    [alt]="currentPet?.name"
  />
  <div class="pet-info w-full justify-content-start mt-3 ml-4">
    <div class="type-info">
      Name : <span class="pets-name">{{ currentPet?.name }}</span>
    </div>
    <div class="type-info">
      Status : <span class="status">{{ currentPet?.status }}</span>
    </div>
    <div class="type-info">
      Animal : <span class="animal">{{ currentPet?.petType }}</span>
    </div>
    <div class="type-info">
      Gender : <span class="gender">{{ currentPet?.gender }}</span>
    </div>
    <div class="type-info">
      Period : <span class="gender">{{ currentPet?.periodInfo }}</span>
    </div>
    <div class="type-info">
      ID : <span class="id">{{ currentPet?.id }}</span>
    </div>
    <div class="type-info">
      Description : <span class="id">{{ currentPet?.description }}</span>
    </div>
  </div>
  <p-button
    icon="pi pi-check"
    label="Ok"
    (onClick)="close()"
    styleClass="p-button-text"
  ></p-button>
</div>
