<div class="container">
  <div class="flex flex-wrap">
    <div
      class="home-text col-12 md:col-6 lg:col-6 flex flex-column justify-content-center"
    >
      <h1 class="text-5xl">
        We help reunite lost pets with their families. Enter a photo of your
        missing.
      </h1>
      <p class="text-2xl">
        Enter a photo of your missing pet and search our national lost and found
        pet database to find them.
      </p>
      <div class="flex justify-content-center">
        <p-button
          (click)="getPets(PetStatus.Found)"
          label="Found Pet"
        ></p-button>
        <p-button
          (click)="getPets(PetStatus.Lost)"
          class="ml-4"
          label="Lost Pet"
        ></p-button>
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-6">
      <img class="max-w-full mt-5" src="assets/images/home_img.jpg" alt="" />
    </div>
  </div>
</div>
<div class="container mt-5">
  <p-carousel
    [value]="pets"
    [numVisible]="4"
    [numScroll]="4"
    [circular]="false"
    [responsiveOptions]="responsiveOptions"
  >
    <ng-template pTemplate="header"> </ng-template>
    <ng-template let-pet pTemplate="item">
      <div class="product-item">
        <div class="product-item-content">
          <div class="p-mb-3"></div>
          <div class="flex">
            <img
              class="w-full"
              (click)="showDialog(pet)"
              icon="pi pi-external-link"
              label="Show"
              [src]="pet.image"
            />
          </div>
          <div class="info-class flex flex-column">
            <span class="flex mt-3 ml-4">{{ pet.status }}</span>
            <span class="flex mt-2 mb-3 ml-4">{{ pet.periodInfo }}</span>
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>
<pet-description [currentPet]="currentPet"></pet-description>
