.container {
  box-sizing: border-box;
  margin: auto;
  padding: 0;
  max-width: 1170px;
  min-width: 320px;
}

.product-item-content {
  background-color: #e9ecef;
  border-radius: 10px 10px 0 0;
  img {
    border-radius: 10px 10px 0 0;
  }
}

.home-text {
  max-width: 900px;
}

.type-info {
  padding: 3px;
}
