<div class="container">
  <div class="flex flex-wrap">
    <div
      class="home-text col-12 md:col-6 lg:col-6 flex flex-column justify-content-center"
    >
      <h1 class="text-5xl">
        We help reunite lost pets with their families. Enter a photo of your
        missing.
      </h1>
      <p class="text-2xl">
        Enter a photo of your missing pet and search our national lost and found
        pet database to find them.
      </p>
      <div class="flex justify-content-center">
        <p-button label="Found Pet"></p-button>
        <p-button class="ml-4" label="Lost Pet"></p-button>
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-6">
      <img class="max-w-full mt-5" src="assets/images/home_img.jpg" alt="" />
    </div>
  </div>
</div>
<div class="container mt-5">
  <p-carousel
    [value]="pets"
    [numVisible]="4"
    [numScroll]="4"
    [circular]="false"
    [responsiveOptions]="responsiveOptions"
  >
    <ng-template pTemplate="header"> </ng-template>
    <ng-template let-pets pTemplate="item">
      <div class="product-item">
        <div class="product-item-content">
          <div class="p-mb-3"></div>
          <div class="flex">
            <img
              class="w-full"
              (click)="showBasicDialog(pets)"
              icon="pi pi-external-link"
              label="Show"
              [src]="pets.image"
            />
          </div>
          <div class="info-class flex flex-column">
            <span class="flex mt-3 ml-4">{{ pets.status }}</span>
            <span class="flex mt-2 mb-3 ml-4">{{ pets.periodInfo }}</span>
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>
<div *ngIf="currentPet">
  <p-dialog
    class="dialog-desc"
    header="Pet Description"
    [(visible)]="displayBasic"
    [style]="{ width: '28vw' }"
    [breakpoints]="{ '960px': '38vw', '640px': '56vw', '390px': '100vw' }"
  >
    <img
      class="img-descpipt"
      [src]="'assets/images/' + currentPet.image"
      [alt]="currentPet.name"
    />

    <div class="mt-3">
      <div class="type-info">
        Name : <span class="pets-name">{{ currentPet.name }}</span>
      </div>
      <div class="type-info">
        Status : <span class="status">{{ currentPet.status }}</span>
      </div>
      <div class="type-info">
        Animal : <span class="animal">{{ currentPet.petType }}</span>
      </div>
      <div class="type-info">
        Gender : <span class="gender">{{ currentPet.gender }}</span>
      </div>
      <div class="type-info">
        Period : <span class="gender">{{ currentPet.periodInfo }}</span>
      </div>
      <div class="type-info">
        ID : <span class="id">{{ currentPet.id }}</span>
      </div>
      <div class="type-info">
        Description : <span class="id">{{ currentPet.description }}</span>
      </div>
    </div>
    <ng-template pTemplate="footer">
      <p-button
        icon="pi pi-check"
        (click)="displayBasic = false"
        label="Ok"
        styleClass="p-button-text"
      ></p-button>
    </ng-template>
  </p-dialog>
</div>
