  .container {
    box-sizing: border-box;
    margin: auto;
    background-color: #787878;
    padding: 0;
    max-width: 1170px !important;
    min-width: 320px !important;
  }
  
  .footer--blocks_contacts {
    margin-top: 22px;
  }
  
  .footer-icons {
    margin-top: 20px;
  }
  
  .pi-envelope {
    margin-right: 11px;
  }
  
  .footer-icons a {
    text-decoration: none;
    cursor: pointer;
  }
  .img-footer {
    width: 100%;
    height: auto;
  }
  
  .footer-text {
    margin-top: 26px;
  }
  
  